{% extends "layout.html" %}
{% block title %}{{ _('Server Info') }}{% endblock %}
{% block content %}
{{ super() }}

{% set is_online = True if netinfo.gametype else False %}

{% if server %}
{% set uidperms = get_uid_permission_level(server.id) %}

<ol class="breadcrumb">
  <li><a href="/servers">{{_('Servers')}}</a></li>
  <li class="active">{{server.base_folder}}</li>
</ol>

<div class="text-right">
	<i class="fa fa-picture-o"></i> <a data-toggle="modal" data-target="#modal_create_banner" href="#">{{_('Create Banner')}}</a>
</div>

<div class="page-header">
	<h1><i class="fa fa-info"></i> {% if is_online %}{{netinfo.name}}{% else %}{{server.name}}{% endif %}</h1>
</div> 

<ul class="nav nav-pills nav-justified" role="tablist">
	<li class="active"><a href="#general" role="tab" data-toggle="tab">{{ _('General') }}</a></li>
	<li><a href="#players" data-toggle="tab">{{ _('Players') }}</a></li>
{% if session.logged_in and uidperms.log %}
  	<li><a href="#log" role="tab" data-toggle="tab">{{ _('Log') }}</a></li>
{% endif %}
</ul>

<div class="tab-content" style="margin-top:1.5em;">
  	<div class="tab-pane active" id="general">
  		{% if session.logged_in and uidperms.issues %}
   		<div class="col-md-12">
  			<strong><i class="fa fa-exclamation"></i> {{ _('Issues') }}</strong> <ins><a data-toggle="modal" id="issues_count" data-target="#modal_instance_issues" href="#">0</a></ins>
  		</div>
  		{% endif %}
  	
  		<div class="col-md-2 col-xs-6" id="server-status">
  			<div class="pill-server panel panel-default" style="background-color:{% if is_online %}#438D43{% else %}#B05454{% endif %};">
  				<i class="fa fa-power-off fa-4x"></i>
  				<span>{{_('Status')}}</span>
  				<b style="color:{% if is_online %}#C5E0C5{% else %}#FFE0E0{% endif %};">{% if is_online %}{{_('Online')}}{% else %}{{_('Offline')}}{% endif %}</b>
  			</div>
  		</div>
  		<div class="col-md-2 col-xs-6" id="server-address">
  			<div class="pill-server panel panel-default" style="background-color:#719696;">
  				<i class="fa fa-server fa-4x"></i>
  				<span>{{_('Address')}}</span>
	  			<b>{{ip}}:{{server.port}}</b>
	  		</div>
  		</div>
  		<div class="col-md-2 col-xs-4" id="server-gametype">
  			<div class="pill-server panel panel-default" style="background-color:#B07E54;">
  				<i class="fa fa-puzzle-piece fa-4x"></i>
  				<span>{{_('Game Type')}}</span>
	  			<b>{% if netinfo.gametype %}{{netinfo.gametype}}{% else %}{{server.gametype}}{% endif %}</b>
	  		</div>
  		</div>
  		<div class="col-md-2 col-xs-4" id="server-map">
  			<div class="pill-server panel panel-default" style="background-color:#915D31;">
  				<i class="fa fa-map fa-4x"></i>
  				<span>{{_('Map')}}</span>
	  			<b>{% if is_online %}{{netinfo.map}}{% else %}. . .{% endif %}</b>
	  		</div>
  		</div>
   		<div class="col-md-2 col-xs-4" id="server-players">
   			<div class="pill-server panel panel-default" style="background-color:#326A6A;">
   				<i class="fa fa-group fa-4x"></i>
   				<span>{{_('Players')}}</span>
  				<b>{% if is_online %}{{'%d/%d' % (netinfo.players,netinfo.max_players)}}{% else %}. . .{% endif %}</b>
  			</div>
  		</div>
  		<div class="col-md-1 col-xs-6" id="server-visible">
  			<div class="pill-server panel panel-default" style="background-color:#9775AA;">
  				<i class="fa fa-eye fa-3x"></i>
  				<span>{{_('Visible')}}</span>
	  			<b>{% if server.visible %}{{ _('Yes') }}{% else %}{{ _('No') }}{% endif %}</b>
	  		</div>
  		</div>
  		<div class="col-md-1 col-xs-6" id="server-visible">
  			<div class="pill-server panel panel-default" style="background-color:#764B8E;">
  				<i class="fa fa-lock fa-3x"></i>
  				<span>{{_('Public')}}</span>
	  			<b>{% if server.public %}{{ _('No') }}{% else %}{{ _('Yes') }}{% endif %}</b>
	  		</div>
  		</div>
  		
		<div class="col-md-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{ _('Players in the last 7 days...') }}
				</div>
				<div class="panel-body text-center" style="padding:0;">
					<div id="chart-players-7d"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{ _('Top 5 - Clans') }}
				</div>
				<div class="panel-body text-center" style="padding:0;">
					<div id="chart-active-clan"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{ _('Top 5 - Countries') }}
				</div>
				<div class="panel-body text-center" style="padding:0;">
					<div id="chart-active-country"></div>
				</div>
			</div>
		</div>
  	</div>
  	<div class="tab-pane" id="players">
  	{% if is_online %}
		<table class="table table-condensed table-hover table-striped">
			<thead>
				<tr>
					<th>{{ _('Score') }}</th>
					<th>{{ _('Name') }}</th>
					<th>{{ _('Clan') }}</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
	  		{% for player in netinfo.playerlist %}
	  			<tr>
	  				<td class="col-md-1 pl-score">{{player.score}}</td>
	  				<td class="col-md-5 pl-name">{{player.name}}</td>
	  				<td class="col-md-2 pl-clan">{{player.clan}}</td>
	  				<td class="col-md-4 pl-actions text-right">
	  					{% if session.logged_in and server.econ_port and server.econ_password %}
  						<a data-name="{{player.name}}" class="kick-player btn btn-xs btn-warning">
					        <i class="fa fa-fire"></i> {{ _('Kick') }}
					    </a>
  						<a data-name="{{player.name}}" class="ban-player btn btn-xs btn-danger">
					        <i class="fa fa-ban"></i> {{ _('Ban') }}
					    </a>
					    {% endif %}
	  				</td>
	  			</tr>
	  		{% endfor %}
  			</tbody>
  		</table>
  	{% else %}
  		<h1 class="text-center tex-muted" style="margin-top:3.5em;">
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-server fa-stack-1x"></i>
			  <i class="fa fa-ban fa-stack-2x text-danger"></i>
			</span>
			{{ _('SERVER OFFLINE') }}
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-server fa-stack-1x"></i>
			  <i class="fa fa-ban fa-stack-2x text-danger"></i>
			</span>
		</h1>
  	{% endif %}
  	</div>
{% if session.logged_in and uidperms.log %}
  	<div class="tab-pane" id="log">
  	{% if not server.logfile %}
  		<h1 class="text-center tex-muted" style="margin-top:3.5em;">
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-file-text-o fa-stack-1x"></i>
			  <i class="fa fa-ban fa-stack-2x text-danger"></i>
			</span>
			{{ _('NO LOG DEFINED') }}
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-file-text-o fa-stack-1x"></i>
			  <i class="fa fa-ban fa-stack-2x text-danger"></i>
			</span>
		</h1>
	{% elif uidperms.log %}
		{% include "includes/server_log.html" %}
  	{% endif %}
  	</div>
{% endif %}
</div>
{% else %}
<h1 class="text-center"><i class="fa fa-frown-o fa-lg"></i><br/>{{ _('SERVER NOT FOUND') }}</h1>
{% endif %}


{% if session.logged_in and uidperms.issues %}
	{% include "includes/modal_instance_issues.html" %}
{% endif %}

{% include "includes/modal_create_banner.html" %}

{% endblock %}
{% block script %}
	{% if server %}
	<script type="text/javascript">
		var $SRVID = {{ server.id|tojson|safe }};
		var $BABEL_STR_PLAYERS = {{_("Players")|tojson|safe}};
		var $BABEL_STR_UNKNOWN = {{_("Unknown")|tojson|safe}};
	</script>
	{% endif %}
	{% assets filters='jsmin', output='gen/server.min.js', 'js/server.js' %}
   		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}