{% extends "minimal_layout.html" %}
{% set navbar = True %}
{% block title %}{{ _('Settings') }}{% endblock %}
{% block content %}
{{ super() }}

<div class="row">
	<div class="page-header">
		<h1><i class="fa fa-cogs"></i> {{ _('Settings') }}</h1>
	</div>
</div>

{% if session.logged_in and session.uid == SUPERUSER_ID %}
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ _('Users') }}
			<span class="pull-right">
				<a class="btn btn-xs btn-info" id="create_user_slot"><i class="fa fa-user-plus"></i> {{ _('Create Slot') }}</a>
			</span>
		</div>

		<table class="table table-condensed table-hover table-striped table-vertical-aligned">
			<thead>
				<tr>
					<th>{{ _('Username') }}</th>
					<th>{{ _('Create Date') }}</th>
					<th>{{ _('Last Login Date') }}</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody id="tbody-users">
				{% for user in users %}
				{% if not user.id == SUPERUSER_ID %}
				<tr id="user-{{user.id}}">
					<td>{{user.username}}</td>
					<td>{{ format_datetime(user.create_date) }}</td>
					<td>{{user.last_login_date or _('Never')}}</td>
					<td class='text-right'>
						<a data-uid="{{user.id}}" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modal_user_permissions">
							<i class="fa fa-cog"></i> {{ _('Permissions') }}
						</a>
						<a class="remove-user btn btn-xs btn-delete-row" data-uid="{{user.id}}" href="#" title="{{ _('Remove User') }}"><i class="fa fa-remove"></i></a>
					</td>
				</tr>
				{% endif %}
				{% endfor %}
				
				{% for user in users_token %}
				<tr id="user-{{user.id}}">
					<td><i>{{"%s '%s...'" % (_('User Slot'),user.token[:10])}}</i></td>
					<td>{{ format_datetime(user.create_date) }}</td>
					<td>{{ user.last_login_date and format_datetime(user.last_login_date) or _('Never')}}</td>
					<td class='text-right'>
						<a data-uid="{{user.id}}" class="btn btn-xs btn-success copy-link-user btn-clipboard" data-clipboard-text="http://{{request.host}}/user_reg/{{user.token}}">
							<i class="fa fa-link"></i> {{ _('Copy Link') }}
						</a>
						<a data-uid="{{user.id}}" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modal_user_permissions">
							<i class="fa fa-cog"></i> {{ _('Permissions') }}
						</a>
						<a class="remove-user btn btn-xs btn-delete-row" data-uid="{{user.id}}" href="#" title="{{ _('Cancel User Slot') }}"><i class="fa fa-remove"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ _('Permission Levels') }}
			<span class="pull-right">
				<a class="btn btn-xs btn-info" data-toggle="modal" data-target="#modal_create_permission_level">
					<i class="fa fa-plus-circle"></i> {{ _('Create Permission') }}
				</a>
			</span>
		</div>

		<table class="table table-condensed table-hover table-striped table-vertical-aligned">
			<thead>
				<tr>
					<th>{{ _('Name') }}</th>
					<th class='cursor-help text-center' title="{{ _('Can start server?') }}">{{ _('Start') }}</th>
					<th class='cursor-help text-center' title="{{ _('Can stop server?') }}">{{ _('Stop') }}</th>
					<th class='cursor-help text-center' title="{{ _('Can change configuration?') }}">{{ _('Config') }}</th>
					<th class='cursor-help text-center' title="{{ _("Can use 'econ'?") }}">{{ _('ECon') }}</th>
					<th class='cursor-help text-center' title="{{ _('Can view issues?') }}">{{ _('Issues') }}</th>
					<th class='cursor-help text-center' title="{{ _('Can view logs?') }}">{{ _('Log') }}</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody id="tbody-permission-levels">
				{% for perm in permission_levels %}
				<tr id="permission-{{perm.id}}">
					<td>{{perm.name}}</td>
					<td class='text-center'><a data-id='{{perm.id}}' data-perm='start' class="btn btn-xs btn-perm" style="color:{{perm.start and '#008000' or '#800000'}};"><i class="fa {{perm.start and 'fa-check' or 'fa-minus'}}"></i></a></td>
					<td class='text-center'><a data-id='{{perm.id}}' data-perm='stop' class="btn btn-xs btn-perm" style="color:{{perm.stop and '#008000' or '#800000'}};"><i class="fa {{perm.stop and 'fa-check' or 'fa-minus'}}"></i></a></td>
					<td class='text-center'><a data-id='{{perm.id}}' data-perm='config' class="btn btn-xs btn-perm" style="color:{{perm.config and '#008000' or '#800000'}};"><i class="fa {{perm.config and 'fa-check' or 'fa-minus'}}"></i></a></td>
					<td class='text-center'><a data-id='{{perm.id}}' data-perm='econ' class="btn btn-xs btn-perm" style="color:{{perm.econ and '#008000' or '#800000'}};"><i class="fa {{perm.econ and 'fa-check' or 'fa-minus'}}"></i></a></td>
					<td class='text-center'><a data-id='{{perm.id}}' data-perm='issues' class="btn btn-xs btn-perm" style="color:{{perm.issues and '#008000' or '#800000'}};"><i class="fa {{perm.issues and 'fa-check' or 'fa-minus'}}"></i></a></td>
					<td class='text-center'><a data-id='{{perm.id}}' data-perm='log' class="btn btn-xs btn-perm" style="color:{{perm.log and '#008000' or '#800000'}};"><i class="fa {{perm.log and 'fa-check' or 'fa-minus'}}"></i></a></td>
					<td class='text-right'>
						<a class="remove-permission-level btn btn-xs btn-delete-row" data-id="{{perm.id}}" href="#" title="{{ _('Remove Permission Level') }}"><i class="fa fa-remove"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}

<div class="row">
	<div class="panel panel-danger" style="background-color: #F9FFCC;">
		<div class="panel-heading">{{ _('Change Password') }}</div>
		<div class="panel-body">
			<form id="form-settings-change-pass" class="form-vertical">
				<div class="form-group">
					<div class="col-md-4">
						<label for="pass-old" class="control-label">{{ _('Old password:') }}</label>
						<div class="controls">
							<input type="password" id="pass-old" name="pass-old" class="form-control" required />
							<p class="help-block"></p>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<label for="pass-new" class="control-label">{{ _('New password:') }}</label>
						<div class="controls">
							<input type="password" id="pass-new" name="pass-new" class="form-control" required />
							<p class="help-block"></p>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<label for="admin-pass-new-repeat" class="control-label">{{ _('Repeat new password:') }}</label>
						<div class="controls">
							<input type="password" id="pass-new-repeat" name="pass-new-repeat" data-validation-match-match="admin-pass-new" class="form-control" required />
							<p class="help-block"></p>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12 text-right" style="margin-top:0.5em;">
						<a id="btn-submit" href="#" class="btn btn-danger">{{ _('Change') }}</a>
					</div>
				</div>
			</form>
	  	</div>
	</div>
</div>

{% if session.logged_in and session.uid == SUPERUSER_ID %}
	{% include "includes/modal_create_permission_level.html" %}
	{% include "includes/modal_user_permissions.html" %}
{% endif %}

{% endblock %}
{% block script %}
	<script type="text/javascript">
		var $BABEL_STR_CANT_BE_EMPTY = {{_("Can't be empty")|tojson|safe}};
		var $BABEL_STR_PASSWORD_DOESNT_MATCH = {{_("Passwords doesn't match!")|tojson|safe}};
		var $BABEL_STR_PASSWORD_CHANGED_SUCCESSFULLY = {{_("Password changed successfully :)")|tojson|safe}};
		var $BABEL_STR_OK = {{_("Ok")|tojson|safe}};
		var $BABEL_STR_CONFIGURATION_CHANGED = {{_("Configuration Changed")|tojson|safe}};
		var $BABEL_STR_PERMISSION_LEVEL = {{_("Permission Level")|tojson|safe}};
		var $BABEL_STR_REMOVE_PERMISSION_LEVEL = {{_("Remove Permission Level")|tojson|safe}};
		var $BABEL_STR_USER = {{_("User")|tojson|safe}};
		var $BABEL_STR_NEVER = {{_("Never")|tojson|safe}};
		var $BABEL_STR_COPY_LINK = {{_("Copy Link")|tojson|safe}};
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='lib/jssha-2.0.2/sha.min.js') }}"></script>
	{% assets filters='jsmin', output='gen/settings.min.js', 'js/settings.js' %}
   		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}