{% extends "minimal_modal.html" %}
{% set modal_id = 'modal_create_permission_level' %}

{% block head_content %}
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title">{{ _('Create Permission Level') }}</h4>
{% endblock %}

{% block body_content %}
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<form id='form-create-permission-level' class="deny-enter form-vertical">
				<div class="col-md-12" style="margin-bottom:0.5em">
					<input type="text" name="name" id="name" class="form-control" placeholder="{{_('Permission Name')}}" required/>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
