<div id="modal_external_console" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">External Console</h4>
			</div>
			<div class="modal-body">
				<div class="row">
                    <div class="col-md-12">
						<form id='form-econ' class="deny-enter form-horizontal">
							<input type="hidden" name="srvid" id="srvid" />
						    <div class="input-group">
						    	<input type="text" id="cmd" name="cmd" class="form-control" placeholder="Command..."/>
						    	<span class="input-group-btn">
						    		<button class="btn btn-primary" id="send-econ-command" type="button">Send</button>
						    	</span>
						    </div>
						</form>
						<textarea style="resize: none; height:300px;" class="well col-md-12" id="econ-log" readonly></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
