{% extends "layout.html" %}
{% block title %}Overview{% endblock %}
{% block content %}
<div class="row">
	{{ super() }}
	{% if session.logged_in %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<b>{{ dist }}</b> ({{ ip }})
			<span class="pull-right">
				<i style="margin-right:5px;"><span id="uptime">&nbsp;</span></i>
				<!-- <a class="btn btn-xs btn-danger" id="reboot"><i class="fa fa-power-off"></i> Reboot</a> -->
			</span>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<p>CPU usage: <span id="cpu-usage"></span></p>
					<div class="progress">
						<div class="progress-bar" id="cpu-usage-bar" style="width:0%;"></div>
					</div>
				</div>
				<div class="col-md-4">
					<p>Memory usage: <span id="memory-usage"></span></p>
					<div class="progress">
						<div class="progress-bar" id="memory-usage-bar" style="width: 0%;"></div>
						<abbr title="Cached memory"><div class="progress-bar progress-bar-success" id="memory-cache-usage-bar" style="width: 0%;"></div></abbr>
					</div>
				</div>
				<div class="col-md-4">
					<p>Disk usage: <span id="disk-usage"></span></p>
					<div class="progress">
						<div class="progress-bar" id="disk-usage-bar" style="width: 0%;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<table id="twmslist" class="table table-condensed table-hover table-striped" style="display:none;">
					<thead>
						<th>#</th>
						<th>Server Name</th>
						<th>Game Type</th>
						<th>Players</th>
						<th>Map</th>
						<th>Latency</th>
					</thead>
					<tbody></tbody>
				</table>
				<div id="twmslist-empty" class="text-center text-muted" style="display:none;"><i class="fa fa-warning"></i> No local servers can be found on the master-server <i class="fa fa-warning"></i></div>
				<div id="twmslist-load" class="text-center"><b><i class="fa fa-refresh fa-spin"></i> Searching for local servers in master list...</b></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/overview.js') }}"></script>
{% endblock %}