{% extends "minimal_layout.html" %}
{% block base_content %}
{{ super() }}

	{% include "includes/nav.html" %}
	
	<div id="page-content">
		<div class="container">
			{% block content %}
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class="alert alert-{{ category }}">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
			{% endblock %}
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted credit"><small>Teeworlds Web Panel &copy; <a target='_blank' href="https://github.com/CytraL/twp/graphs/contributors">Contributors</a> - 2016 - <a target="_blank" href="https://www.gnu.org/licenses/agpl.html">GNU AGPL</a> - {{_('Proudly hosted on')}} <a href="https://github.com/CytraL/twp"><i class="fa fa-github"></i> GitHub</a></small></p>
		</div>
	</footer>
	
{% endblock %}
