{% extends "layout.html" %}
{% block title %}{{ _('Players') }}{% endblock %}
{% block content %}

{{ super() }}
<div class="row">
	<div class="panel panel-info">
		<div class="panel-body">
		{% if players.rowcount > 0 %}
			{{ _('List of all players connected to the machine.') }}<br/>
			<span class="text-muted">{{ _('Updated every minute') }}</span>
		{% else %}
			<p class="text-center text-muted">{{ _('No players found!') }}</p>
		{% endif %}
		</div>
		
		{% if players.rowcount > 0 %}
		<table class="table table-condensed table-striped">
			<thead>
				<th>{{ _('Name') }}</th>
				<th>{{ _('Created') }}</th>
				<th>{{ _('Last Seen') }}</th>
			</thead>
			<tbody>
			{% for player in players %}
				<tr id="ply-line-{{player.id}}" class="{% if player.status == 1 %}success{% endif %}">
					<td>{{player.name}}</td>
					<td class="col-md-3">{{player.create_date}}</td>
					<td class="col-md-3">{{player.last_seen_date}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>

{% endblock %}
{% block script %}
{% endblock %}