{% extends "layout.html" %}
{% block title %}{{ _('Search') }} '{{search}}'{% endblock %}
{% block content %}

{{ super() }}
<div class="row">
	<div class="page-header">
		<h1><i class="fa fa-search"></i> {{ _('Search') }} <i>"{{search}}"</i></h1>
	</div>
</div>
{% if servers == [] and players == [] %}
<h1 class="text-center tex-muted" style="margin-top:3.5em;">
	{{ _('NO RESULTS') }}
</h1>
{% endif %}

{% if servers != [] %}
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ _('Servers') }}
		</div>
		<table class="table table-condensed table-hover table-striped">
			<thead>
				<th>&nbsp;</th>
				<th>{{ _('Status') }}</th>
				<th>{{ _('Port') }}</th>
				<th>{{ _('Game Type') }}</th>
				<th>{{ _('Server Name') }}</th>
				<th>&nbsp;</th>
			</thead>
			<tbody>
				{% for mod_inst in servers %}
				<tr id="srv-line-{{mod_inst.rowid}}" class="{% if mod_inst.status == 'Running' %}success{% endif %}">
					<td class="col-md-1 srv-flags">
						<i class="fa {% if mod_inst.register == 0 %}fa-eye-slash{% else %}fa-eye{% endif %} tw-no-register" {% if mod_inst.register == 0 %}style="color:#BBB;" title="{{ _('Not Register Server') }}" {% else %}title="{{ _('Register Server') }}" {% endif %}></i>
						<i class="fa fa-lock tw-password" {% if mod_inst.password == 0 %}style="color:#BBB;" title="{{ _('Public Server') }}" {% else %}title="{{ _('Private Server') }}" {% endif %}></i>
					</td>
					<td class="col-md-1 srv-status">{{mod_inst.status}}</td>
					<td class="col-md-1 srv-port">{{mod_inst.port}}</td>
					<td class="col-md-2 srv-gametype">{{mod_inst.gametype}}</td>
					<td class="col-md-4 srv-name">{{mod_inst.name}}</td>
					<td class="col-md-3 text-right">
						<a class="btn btn-xs btn-default" href="/server/{{mod_inst.rowid}}" title="{{ _('Server Instance Information') }}"><i class="fa fa-info"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}

{% if players != [] %}
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ _('Players') }}
		</div>
		<table class="table table-condensed table-striped">
			<thead>
				<th>{{ _('Name') }}</th>
				<th>{{ _('Created') }}</th>
				<th>{{ _('Last Seen') }}</th>
			</thead>
			<tbody>
			{% for player in players %}
				<tr id="ply-line-{{player.rowid}}" class="{% if player.status == 1 %}success{% endif %}">
					<td>{{player.name}}</td>
					<td class="col-md-3">{{player.create_date}}</td>
					<td class="col-md-3">{{player.last_seen_date}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}


{% endblock %}
{% block script %}
{% endblock %}