{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="span9">
	{{ super() }}
	<div class="row pull-right">
		<a class="btn btn-success" data-toggle="modal" data-target="#modal_new_server"><i class="fa fa-plus-circle"></i> Create Server</a>
	</div>
	
	{% include "includes/modal_new_server.html" %}
</div>
{% endblock %}
{% block script %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/servers.js') }}"></script>
	<script type="text/javascript">
	{% if servers == [] %}
		$('#modal_new_server').modal('show');	
	{% endif %}
	</script>
{% endblock %}