{% extends "layout.html" %}
{% block title %}Servers{% endblock %}
{% block content %}

{{ super() }}
{% if session.logged_in %}
<div class="row space-bottom">
	<form action="{{ url_for('install_mod') }}" method="POST" enctype="multipart/form-data" id="install-mod">
		<div class="dropdown">
			<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" id="install-mod-button">
				<i class="fa fa-puzzle-piece"></i> Install Mod <span class="caret"></span>
			</a>
		    <ul class="dropdown-menu">
		    	<li><a href="#" id='install-mod-url'><i class="fa fa-fw fa-external-link-square"></i> From URL</a> <input type="hidden" id="url" name="url" value=""/></li>
		    	<li><a href="#" class="btn-file"><i class="fa fa-fw fa-file-zip-o"></i> From Archive <input type="file" name="file" id="file" required /></a></li>
		    </ul>
	    </div>
	</form>
</div>
{% endif %}

<div class="row">
	{% for srv in servers %}
	<div class="panel panel-info">
		<div class="panel-heading">
			{{srv}}
			{% if session.logged_in %}
			<span class="pull-right">
				<a class="btn btn-xs btn-primary" data-toggle="modal" data-mod="{{srv}}" data-target="#modal_new_server"><i class="fa fa-plus-circle"></i> Create Instance</a>
			</span>
			{% endif %}
		</div>
		<div class="panel-body">
			{% set mod_instances = get_mod_instances(srv) %}
			{% if mod_instances != [] %}
			{% set server_bins = get_mod_binaries(srv) %}
			<table class="table table-condensed table-hover table-striped">
				<thead>
					<th>&nbsp;</th>
					<th>Status</th>
					<th>Port</th>
					<th>Game Type</th>
					<th>Server Name</th>
					<th>&nbsp;</th>
				</thead>
				<tbody>
					{% for mod_inst in mod_instances %}
					<tr id="srv-line-{{mod_inst.rowid}}" class="{% if mod_inst.status == 'Running' %}success{% endif %}">
						<td class="col-md-1 srv-flags">
							<i class="fa {% if mod_inst.register == 0 %}fa-eye-slash{% else %}fa-eye{% endif %} tw-no-register" {% if mod_inst.register == 0 %}style="color:#BBB;" title="Not Register Server" {% else %}title="Register Server" {% endif %}></i>
							<i class="fa fa-lock tw-password" {% if mod_inst.password == 0 %}style="color:#BBB;" title="Public Server" {% else %}title="Private Server" {% endif %}></i>
						</td>
						<td class="col-md-1 srv-status">{{mod_inst.status}}</td>
						<td class="col-md-1 srv-port">{{mod_inst.port}}</td>
						<td class="col-md-1 srv-gametype">{{mod_inst.gametype}}</td>
						<td class="col-md-5 srv-name">{{mod_inst.name}}</td>
						<td class="col-md-3 text-right">
							<a class="btn btn-xs btn-default" href="/server/{{mod_inst.rowid}}"><i class="fa fa-info"></i></a>
							{% if session.logged_in %}
								{% if mod_inst.status == 'Stopped' %}
								<a class="btn btn-xs btn-default" data-id="{{mod_inst.rowid}}" data-toggle="modal" data-target="#modal_instance_configuration"><i class="fa fa-pencil-square-o"></i> Config</a>
								<div class="dropdown btn-group" id="btn-play-srv-{{mod_inst.rowid}}">
								    <a data-id="{{mod_inst.rowid}}" class="start-instance btn btn-xs btn-success {% if mod_inst.bin == None %}disabled{% endif %}">
								        <i class="fa fa-play"></i> Start
								    </a>
								    <a class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown" href="#">
								        <span class="caret"></span>
								    </a>
								    <ul class="dropdown-menu" data-id="{{mod_inst.rowid}}">
								    	{% for bin in server_bins %}
								    	<li class="{% if mod_inst.bin == bin %}active{% endif %}"><a href="#" class="menu-item-server-bin">{{bin}}</a></li>
								    	{% endfor %}
								    	{% if server_bins == [] %}
								    	<li class="text-center text-muted bg-warning"><i class="fa fa-warning"></i> No binaries found!</li>
								    	{% endif %}
								    </ul>
								</div>
								<a class="remove-server-instance btn btn-xs" data-mod="{{srv}}" data-id="{{mod_inst.rowid}}" href="#" title="Remove server instance"><i class="fa fa-remove"></i></a>
								{% elif mod_inst.status == 'Running' %}
									<a data-id="{{mod_inst.rowid}}" class="stop-instance btn btn-xs btn-danger">
								        <i class="fa fa-stop"></i> Stop
								    </a>
								{% endif %}
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p class="text-center text-muted">No instances defined!</p>
			{% endif %}
		</div>
	</div>
	{% endfor %}
	{% if servers == [] %}
	<div class="panel panel-warning">
		<div class="panel-body text-center text-muted">
			No servers found!
		</div>
	</div>
	{% endif %}
</div>

{% include "includes/modal_new_server.html" %}
{% include "includes/modal_instance_configuration.html" %}

{% endblock %}
{% block script %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/servers.js') }}"></script>
{% endblock %}