{% extends "layout.html" %}
{% block title %}{{ _('Servers') }}{% endblock %}
{% block content %}

{{ super() }}
{% if session.logged_in %}
<div class="space-bottom">
	<form action="{{ url_for('install_mod') }}" method="POST" enctype="multipart/form-data" id="install-mod">
		<div class="dropdown">
			<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" id="install-mod-button">
				<i class="fa fa-puzzle-piece"></i> {{ _('Install Mod') }} <span class="caret"></span>
			</a>
		    <ul class="dropdown-menu">
		    	<li><a href="#" id='install-mod-url'><i class="fa fa-fw fa-external-link-square"></i> {{ _('From URL') }}</a> <input type="hidden" id="url" name="url" value=""/></li>
		    	<li><a href="#" class="btn-file"><i class="fa fa-fw fa-file-zip-o"></i> {{ _('From Archive') }} <input type="file" name="file" id="file" /></a></li>
		    </ul>
	    </div>
	</form>
</div>
{% endif %}


{% for srv in servers %}
<div class="panel panel-info">
	<div class="panel-heading">
		{{srv}}
		{% if session.logged_in %}
		<span class="pull-right">
			<a class="btn btn-xs btn-primary" data-toggle="modal" data-mod="{{srv}}" data-target="#modal_new_server"><i class="fa fa-plus-circle"></i> {{ _('Create Instance') }}</a>
			<a class="btn btn-xs btn-default remove-mod" data-mod="{{srv}}" title="{{ _('Remove Mod') }}"><i class="fa fa-trash"></i></a>
		</span>
		{% endif %}
	</div>
	
		{% set mod_instances = get_mod_instances(srv) %}
		{% if mod_instances != [] %}
		{% set server_bins = get_mod_binaries(srv) %}
		<table class="table table-condensed table-hover table-striped">
			<thead>
				<th>&nbsp;</th>
				<th>{{ _('Status') }}</th>
				<th>{{ _('Port') }}</th>
				<th>{{ _('Game Type') }}</th>
				<th>{{ _('Server Name') }}</th>
				<th>&nbsp;</th>
			</thead>
			<tbody>
				{% for mod_inst in mod_instances %}
				<tr id="srv-line-{{mod_inst.rowid}}" class="{% if mod_inst.status == 'Running' %}success{% endif %}">
					<td class="col-md-1 srv-flags">
						<i class="fa {% if mod_inst.register == 0 %}fa-eye-slash{% else %}fa-eye{% endif %} tw-no-register" {% if mod_inst.register == 0 %}style="color:#BBB;" title="{{ _('Not Register Server') }}" {% else %}title="{{ _('Register Server') }}" {% endif %}></i>
						<i class="fa fa-lock tw-password" {% if mod_inst.password == 0 %}style="color:#BBB;" title="{{ _('Public Server') }}" {% else %}title="{{ _('Private Server') }}" {% endif %}></i>
					</td>
					<td class="col-md-1 srv-status">{{mod_inst.status}}</td>
					<td class="col-md-1 srv-port">{{mod_inst.port}}</td>
					<td class="col-md-2 srv-gametype">{{mod_inst.gametype}}</td>
					<td class="col-md-4 srv-name">{{mod_inst.name}}</td>
					<td class="col-md-3 text-right">
						<a class="btn btn-xs btn-default" href="/server/{{mod_inst.rowid}}" title="{{ _('Server Instance Information') }}"><i class="fa fa-info"></i></a>
						{% if session.logged_in %}
							{% if mod_inst.status == 'Stopped' %}
							<a class="btn btn-xs btn-default" data-id="{{mod_inst.rowid}}" data-toggle="modal" data-target="#modal_instance_configuration"><i class="fa fa-pencil-square-o"></i> {{ _('Config') }}</a>
							<div class="dropdown btn-group" id="btn-play-srv-{{mod_inst.rowid}}">
							    <a data-id="{{mod_inst.rowid}}" class="start-instance btn btn-xs btn-success {% if mod_inst.bin == None %}disabled{% endif %}">
							        <i class="fa fa-play"></i> {{ _('Start') }}
							    </a>
							    <a class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown" href="#">
							        <span class="caret"></span>
							    </a>
							    <ul class="dropdown-menu" data-id="{{mod_inst.rowid}}">
							    	{% if not server_bins == None %}
							    		{% for bin in server_bins %}
							    		<li class="{% if mod_inst.bin == bin %}active{% endif %}"><a href="#" class="menu-item-server-bin">{{bin}}</a></li>
							    		{% endfor %}
							    	{% endif %}
							    	{% if server_bins == None or server_bins == [] %}
							    	<li class="text-center text-muted bg-warning"><i class="fa fa-warning"></i> {{ _('No binaries found!') }}</li>
							    	{% endif %}
							    </ul>
							</div>
							<a class="remove-server-instance btn btn-xs" data-mod="{{srv}}" data-id="{{mod_inst.rowid}}" href="#" title="{{ _('Remove Server Instance') }}"><i class="fa fa-remove"></i></a>
							{% elif mod_inst.status == 'Running' %}
								{% if mod_inst.econ_port and mod_inst.econ_password %}
								<a data-id="{{mod_inst.rowid}}" class="admin-instance btn btn-xs btn-info" data-toggle="modal" data-target="#modal_external_console">
							        <i class="fa fa-tty"></i> {{ _('ECon Admin') }}
							    </a>
							    {% endif %}
								<a data-id="{{mod_inst.rowid}}" class="stop-instance btn btn-xs btn-danger">
							        <i class="fa fa-stop"></i> {{ _('Stop') }}
							    </a>
							{% endif %}
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<div class="panel-body text-center text-muted">{{ _('No instances defined!') }}</div>
		{% endif %}
	
</div>
{% endfor %}
{% if servers == [] %}
<div class="panel panel-warning">
	<div class="panel-body text-center text-muted">
		{{ _('No servers found!') }}
	</div>
</div>
{% endif %}

{% if session.logged_in %}
	{% include "includes/modal_new_server.html" %}
	{% include "includes/modal_instance_configuration.html" %}
	{% include "includes/modal_external_console.html" %}
{% endif %}

{% endblock %}
{% block script %}
	<script type="text/javascript">
		var $BABEL_STR_INSTALLING = {{_("Installing")|tojson|safe}};
		var $BABEL_STR_UPLOADING = {{_("Uploading")|tojson|safe}};
		var $BABEL_STR_UNEXPECTED_ERROR = {{_("Unexpected error!")|tojson|safe}};
		var $BABEL_STR_PLEASE_WAIT = {{_("PLEASE WAIT...")|tojson|safe}};
		var $BABEL_STR_URL_TO_PACKAGE = {{_("URL to .zip or .tar.gz Teeworlds Package:")|tojson|safe}};
		var $BABEL_STR_INSTALLING = {{_("Installing...")|tojson|safe}};
		var $BABEL_STR_ARE_YOU_SURE = {{_("Are you sure?")|tojson|safe}};
		var $BABEL_STR_DELETE_CONF = {{_("Delete configuration file from disk.")|tojson|safe}};
		var $BABEL_STR_DELETE = {{_("Delete")|tojson|safe}};
		var $BABEL_STR_SERVER_INSTANCE = {{_("Server Instance")|tojson|safe}};
		var $BABEL_STR_URL_SENDING = {{_("Sending...")|tojson|safe}};
		var $BABEL_STR_INSTANCE_CONF = {{_("Instance Configuration")|tojson|safe}};
		var $BABEL_STR_PUBLIC_SERVER = {{_("Public Server")|tojson|safe}};
		var $BABEL_STR_PRIVATE_SERVER = {{_("Private Server")|tojson|safe}};
		var $BABEL_STR_NOT_REGISTER_SERVER = {{_("Not Register Server")|tojson|safe}};
		var $BABEL_STR_REGISTER_SERVER = {{_("Register Server")|tojson|safe}};
		var $BABEL_STR_STARTING = {{_("Starting...")|tojson|safe}};
		var $BABEL_STR_START = {{_("Start")|tojson|safe}};
		var $BABEL_STR_THIS_CANT_BE_CANCELED = {{_("This can't be canceled and erase all mod data on the disk!!")|tojson|safe}};
		var $BABEL_STR_REMOVE = {{_("Remove")|tojson|safe}};
		var $BABEL_STR_CANCEL = {{_("Cancel")|tojson|safe}};
		var $BABEL_STR_REMOVE_MAP = {{_("Remove Map")|tojson|safe}};
		VAR $BABEL_STR_SENDING = {{_("Sending...")|tojson|safe}};
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/servers.js') }}"></script>
{% endblock %}